[submodule "Meta_Bears_Bulls"]
	path = Meta_Bears_Bulls
	url = https://github.com/EA31337/Strategy-Meta_Bears_Bulls.git
[submodule "Meta_Conditions"]
	path = Meta_Conditions
	url = https://github.com/EA31337/Strategy-Meta_Conditions.git
[submodule "Meta_Delegate"]
	path = Meta_Delegate
	url = https://github.com/EA31337/Strategy-Meta_Delegate.git
[submodule "Meta_Double"]
	path = Meta_Double
	url = https://github.com/EA31337/Strategy-Meta_Double.git
[submodule "Meta_Equity"]
	path = Meta_Equity
	url = https://github.com/EA31337/Strategy-Meta_Equity.git
[submodule "Meta_Enhance"]
	path = Meta_Enhance
	url = https://github.com/EA31337/Strategy-Meta_Enhance.git
[submodule "Meta_Formation"]
	path = Meta_Formation
	url = https://github.com/EA31337/Strategy-Meta_Formation.git
[submodule "Meta_Interval"]
	path = Meta_Interval
	url = https://github.com/EA31337/Strategy-Meta_Interval.git
[submodule "Meta_Hedge"]
	path = Meta_Hedge
	url = https://github.com/EA31337/Strategy-Meta_Hedge.git
[submodule "Meta_Limit"]
	path = Meta_Limit
	url = https://github.com/EA31337/Strategy-Meta_Limit.git
[submodule "Meta_MA_Cross"]
	path = Meta_MA_Cross
	url = https://github.com/EA31337/Strategy-Meta_MA_Cross.git
[submodule "Meta_Margin"]
	path = Meta_Margin
	url = https://github.com/EA31337/Strategy-Meta_Margin.git
[submodule "Meta_Martingale"]
	path = Meta_Martingale
	url = https://github.com/EA31337/Strategy-Meta_Martingale.git
[submodule "Meta_Mirror"]
	path = Meta_Mirror
	url = https://github.com/EA31337/Strategy-Meta_Mirror.git
[submodule "Meta_Multi"]
	path = Meta_Multi
	url = https://github.com/EA31337/Strategy-Meta_Multi.git
[submodule "Meta_Multi_Currency"]
	path = Meta_Multi_Currency
	url = https://github.com/EA31337/Strategy-Meta_Multi_Currency.git
[submodule "Meta_News"]
	path = Meta_News
	url = https://github.com/EA31337/Strategy-Meta_News.git
[submodule "Meta_Order_Limit"]
	path = Meta_Order_Limit
	url = https://github.com/EA31337/Strategy-Meta_Order_Limit.git
